#title {
    color: tomato;
}

p.text {
    color: slateblue;
}
/* todos los parrafos que contiene text seran de color slateblue*/

p.especial{
    color: aquamarine;
}

div p {
    color: purple;
}

div h2, div h3 {
    color: brown;
}

* {
    font-size: 24px;
    color: black;
}
/* seleccionador universal siempre y cuando los parametros no estes definidos*/

/*
esto 
es 
un 
comentario de muchas lineas
 

.color {
    color: #ff0000;
}

.color{

    color: rgb(10, 0, 102);


} 
*/

.color {
    /* border: 5px red outset; */


  /*
  dotted
  dashed
  solid
  double
  groove
  ridge
  inset
  outset
  none
  hidden
  
*/


    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 5px;
    border-width: 1rem;
    /* MEDIDAS 
    1rem es lo mas comun
    1cm 
    2em
    1mm
    1in
    1px
    */

}

#fondo {
    background-color: rgba(255,0,0);
    /* opacity: 0.3; */
    height: 200px;
    
    background: #f00 url('imagen.png') repeat-y center bottom / 100px 100px;
    
}  

.margen {
    background-color: chocolate;
    margin: 15px ;
    padding: 30px 15px 5px;  /* espacio a tus elementos */
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;

}

.text {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;

}